:root {
  --color1: #006769;
  --color2: #40a578;
  --color3: #9dde8d;
  --color4: #e6ff94;
}

section {
  background: linear-gradient(rgba(0, 103, 105, 0.8), rgba(0, 103, 105, 0.8)),
    url(../../assets/hero.jpg);
  background-size: cover;
  background-position: center;
  display: grid;
  place-content: center;
  row-gap: 2rem;
  height: 100vh;
  position: relative;
}
section div {
  width: 100%;
  max-width: 650px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--color2);
  padding: 1rem 1rem;
  text-align: center;
  border-bottom-left-radius: 50px;
  border-top-right-radius: 50px;
  display: flex;
  flex-direction: column;
  display: grid;
  place-content: center;
}
section div a {
  text-decoration: none;
  width: 100%;
  padding: 1rem 0;
  background-color: var(--color1);
  border: none;
  border-radius: 10px;
  font-size: 15px;
  cursor: pointer;
  margin: 1rem 0;
  color: black;
  text-transform: capitalize;
}
section div a:hover {
  background-color: var(--color3);
}
:root {
  --color1: #006769;
  --color2: #40a578;
  --color3: #9dde8d;
  --color4: #e6ff94;
}
section {
  background: linear-gradient(rgba(0, 103, 105, 0.8), rgba(0, 103, 105, 0.8)),
    url(../../assets/hero.jpg);
  background-size: cover;
  background-position: center;
  display: grid;
  place-content: center;
  row-gap: 2rem;
  height: 100vh;
  position: relative;
}
section div {
  width: 100%;
  max-width: 650px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--color2);
  padding: 1rem 1rem;
  text-align: center;
  border-bottom-left-radius: 50px;
  border-top-right-radius: 50px;
  display: flex;
  flex-direction: column;
  display: grid;
  place-content: center;
}
section div h1 {
  font-size: 50px;
  color: var(--color4);
}

section div a {
  text-decoration: none;
  width: 100%;
  padding: 1rem 0;
  background-color: var(--color1);
  border: none;
  border-radius: 10px;
  font-size: 15px;
  cursor: pointer;
  margin: 1rem 0;
  color: black;
  text-transform: capitalize;
}
section div a:hover {
  background-color: var(--color3);
}

.body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--color2);
  flex-direction: column;
  row-gap: 2rem;
  padding: 4rem;
}
.body h1 {
  text-align: center;
  margin: 2rem;
}
.body table {
  border: 1px solid #151314;
  text-align: center;
  border-radius: 7px;
  background: linear-gradient(145deg, var(--color3), var(--color3));
  box-shadow:
    9px 9px 18px #1f1f1f,
    -9px -9px 18px #474747;
}
.body table th {
  border: 1px solid #151314;
  text-align: center;
  padding: 1rem;
}
.body table th:hover {
  background-color: yellowgreen;
  text-align: center;
  box-shadow:
    9px 9px 18px #1f1f1f,
    -9px -9px 18px #474747;
}

.body table td {
  border: 1px solid #151314;
  text-align: center;
  padding: 1rem;
}
.body table td button {
  text-decoration: none;
  width: 100%;
  padding: 0.8rem;
  background-color: var(--color1);
  border: none;
  border-radius: 10px;
  font-size: 15px;
  cursor: pointer;
  margin: 1rem 0;
  color: var(--color3);
  text-transform: capitalize;
}
.body table td button:hover {
  background-color: var(--color2);
  color: var(--color1);
}
table.center {
  margin-left: auto;
  margin-right: auto;
}

.Phone {
  padding: 1rem;
}
.Phone h1 {
  text-align: center;
  margin-bottom: 1rem;
}
.Phone .PhoneWrapper {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.Phone .PhoneWrapper .Phonecard {
  display: flex;
  flex-wrap: wrap;
  border: solid 2px var(--color2);
  width: 40%;
  border-bottom-left-radius: 100px;
  border-top-right-radius: 100px;
  padding: 1rem;
}
.Phone .PhoneWrapper .Phonecard .phoneimage {
  width: 30%;
  display: grid;
  place-content: center;
}
.Phone .PhoneWrapper .Phonecard .phoneimage img {
  width: 100%;
}
.Phone .PhoneWrapper .Phonecard .phoneDetail {
  width: 70%;
}
.Phone .PhoneWrapper .Phonecard .phoneDetail h2 {
  margin-bottom: 2rem;
  font-style: italic;
}
.Phone .PhoneWrapper .Phonecard .phoneDetail p {
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
}
.Phone .PhoneWrapper .Phonecard .phoneDetail p span {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--color2);
  font-size: 16px;
  display: grid;
  place-content: center;
  color: var(--color3);
  margin-right: 10px;
}

.Phone .PhoneWrapper .btnBuy {
  display: flex;
  align-items: center;
  gap: 2rem;
  width: 100%;
}
.Phone .PhoneWrapper .btnBuy button {
  padding: 0.5rem 1rem;
  border: none;
  background-color: var(--color2);
  border-radius: 10px;
  cursor: pointer;
  font-size: 13px;
  color: var(--color4);
}
.inputContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.inputContainer .inputContainerLeft {
  display: flex;
  flex-direction: column;
  width: 50%;
  row-gap: 0.5rem;
  margin-bottom: 0.5rem;
}
.inputContainer .inputContainerRight {
  display: flex;
  flex-direction: column;
  width: 50%;
  row-gap: 0.5rem;
  margin-bottom: 0.5rem;
}
.inputContainer input {
  height: 30px;
}
button {
  padding: 0.5rem 1rem;
  border: none;
  background-color: var(--color2);
  border-radius: 10px;
  cursor: pointer;
  font-size: 13px;
  color: var(--color4);
}
